.navigation{



    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color-black,.1);
        cursor: pointer;
        text-align: center;

        @include responsive(48){
            top: 3rem;
            right: 4rem;
        }
}

    &__background{
        height: 6rem;
        width: 6rem;
        background-image: radial-gradient($color-primary,$color-primary-dark);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 100;
        transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        -moz-transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        -ms-transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        -o-transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);

        @include responsive(48){
            top: 4rem;
            right: 4.5rem;
        }
}
    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        width: 0;
        opacity: 0;
        transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -webkit-transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -moz-transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -ms-transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        -o-transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
}

    &__list-item{
        margin: 1rem;
    }

    &__link{

        &:link,
        &:visited{
        text-decoration: none;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-transform: uppercase;
        display: inline-block;
        padding: .5rem 1rem;
        background-size: 220%;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        @include responsive(30){
            font-size: 2.3rem;
        }
        
        span{
            margin-right: .5rem;
            display: inline-block;
        }
    }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            -o-transform: translateX(1rem);
        }
    }
    &__checkbox:checked ~ &__background{
        transform: scale(80);
        -webkit-transform: scale(80);
        -moz-transform: scale(80);
        -ms-transform: scale(80);
        -o-transform: scale(80);
    }
    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100vw;
    }



    //icon

    &__icon{
        margin-top: 3.5rem;
        position: relative;
       
        &,
        &::before,
        &::after{
            width: 3rem;
            height: .3rem;
            background-color: $color-grey-dark-3;
            display: inline-block;

        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
}
        &::before{
            top: -.8rem;
            -webkit-transform-origin: center;
                    transform-origin: center;
        }
        &::after{
            top: .8rem;
        }
    }
    &__button:hover &__icon::before{
        top: -1rem;

    }
    &__button:hover &__icon::after{
        top: 1rem;
        
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
}
    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
}
}