$color-light: rgb(228, 230, 235);
$color-light-dark: rgb(241, 240, 240);
    // --color-dark: #18191A;
$color-dark: #1c1e21;
$color-primary: rgb(190, 190, 190);
$color-primary: rgb(136, 136, 136);
$color-secondary: rgb(78, 77, 77);
$color-white: #fff;
$color-black: #000;
$foreground: var(--color-dark);
$background: var(--color-light);