.u-cursor-pointer{ cursor: pointer;}
.u-background-dark{ background-color: var(--foreground) !important;}
.u-background-light{ background-color: var(--background) !important;}
.u-padding-sm{ padding: 1rem 0rem;}
.u-text-justify{ text-align: justify;}
