// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-white: #fff;
$color-black: #000;
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


$res-lg : 77em; //1200
$res-md : 62.5em; //1000
$res-md-port : 50em; //800 
$res-sm-land : 35.5em; //600
$res-sm : 23.75em;//380
$res-xs : 17.5em;//280
:root{
    --responsive-lg : 75rem;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $res-lg){
        font-size: 50%;
    }
  

  
}
body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
.container{
    display: grid;
    grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] 
    repeat(8, [col-start] minmax(-webkit-min-content,14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] 
    repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];

    @media only screen and (max-width: $res-md){
        grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(-webkit-min-content,14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }

    @media only screen and (max-width: $res-md-port){
        grid-template-rows: 6rem calc(100vh - 6rem)  repeat(6, -webkit-min-content);
        grid-template-rows: 6rem calc(100vh - 6rem)  repeat(6, min-content);
      
    }
    @media only screen and (max-width: $res-sm-land){
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(-webkit-min-content,14rem) [col-end]) [center-end] minmax(5rem,1fr) [full-end];
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(5rem,1fr) [full-end];
      
    }
    @media only screen and (max-width: $res-sm){
        grid-template-columns: [full-start] minmax(3rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(-webkit-min-content,14rem) [col-end]) [center-end] minmax(3rem,1fr) [full-end];
        grid-template-columns: [full-start] minmax(3rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(3rem,1fr) [full-end];
      
    }
    @media only screen and (max-width: $res-xs){
        grid-template-columns: [full-start] minmax(2rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(-webkit-min-content,14rem) [col-end]) [center-end] minmax(2rem,1fr) [full-end];
        grid-template-columns: [full-start] minmax(2rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] minmax(2rem,1fr) [full-end];
    }
    
    


}