
//colors
$color-primary : #67e950;
$color-primary-light :#7ed56f;
$color-primary-dark : #28b485;
$color-primary-medium : #55c57a;

$color-secondary : #ffb000;
$color-secondary-light : #fac85b;
$color-secondary-dark : #ff7700;

$color-tertiary-light : #2998ff;
$color-tertiary-dark : #564afa;

$color-white : #fff;
$color-grey : #777;
$color-grey-dark-1 : #999;
$color-grey-dark-3 : #555;
$color-grey-dark-2 : #333;
$color-grey-light-2 : #eee;
$color-grey-light-1 : #f8f8f8;
$color-black : #000;

//grid
$grid-width : 114rem;
$verticle-gutter : 8rem;
$verticle-gutter-small : 4rem;

$horizontal-gutter : 6rem;

//font 

$default-font-size : 1.6rem;